ul.pult {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  border: 1px solid #000;
  border-radius: 30px;
  width: 90%;
  padding: 2.5%;
  li {
    display: block;
    flex-basis: 25%;
    padding-top: 25%;
    box-sizing: border-box;
    position: relative;
    color: #eee;
    button {
      position: absolute;
      top: 5%;
      right: 5%;
      bottom: 5%;
      left: 5%;
      width: 90%;
      border-radius: 100%;
      margin: 0;
      padding: 0;
    }
  }
}

//Media
@media (min-width: 768px) {
  ul.pult {
    max-width: 420px;
  }
}
